body,
html {
    margin: 0 auto;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

li,
p {
    font-family: @font-family-bold;
    font-size: @font-size-basic;
    line-height: @line-height-basic;
    color: @color-darkblue;
}

h1 {
    font-family: @font-family-regular;
    font-size: @font-size-h1;
    color: @color-black;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: @font-family-regular;
    font-size: @font-size-h2;
    line-height: 36px;
    color: @color-black;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: @font-family-regular;
    font-size: @font-size-h3;
    line-height: 30px;
    color: @color-black;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

a {
    font-family: inherit;
    font-size: 14px;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

ul {
    margin: 0;
}

button{
  background: none;
  outline: none;
  border: none;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}
