.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0 80px;
    border-bottom: 2px solid @color-gray;
}

.about__text{
  max-width: 650px;
}

.about__text h2{
  display: block;
  margin-bottom: 55px;
  line-height: 40px;
}

.about__text p,
.about__text h3{
  display: block;
  margin-bottom: 35px;
}

.about__text h3,
.about__features h3{
  font-size: 16px;
  line-height: 24px;
}

.about__text ul,
.features-items ul{
  list-style: none;
}

.about__text li{
  display: block;
  margin-bottom: 35px;
  position: relative;
}

.about__text li:last-child{
  margin-bottom: 0;
}

.about__text li::before{
  display: block;
  content:"";
  position: absolute;
  width: 25px;
  height: 2px;
  background: @color-red;
  top: 10px;
  left: -40px;
}

.nerds-logo{
    width: 360px;
    height: 208px;
    margin-bottom: 40px;
}

.features-items{
  margin-top: 55px;
}

.about__features h3{
  text-align: center;
}

.features-item b{
  display: block;
  color: @color-black;
  font-size: 46px;
}

.features-item sup{
  position: relative;
  top: 11px;
}

.features-items ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.features-items li{
  display: block;
  width: 100px;
}

.features-item p{
  line-height: 18px;
}
