.btn {
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #fb565a;
    padding: 10px 39px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background: #d6494d;
}

.btn:active {
    background: #b63538;
}

.btn-slider {
    padding: 10px 70px;
    margin-top: 13px;
}
