.site-form {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-right: 80px;
    font-size: 0;
}

.items {
    display: inline-block;
    vertical-align: top;
    width: 560px;
    font-size: 0;
}

.top-plashka {
    background-color: #f1f1f1;
    width: 225px;
    padding: 10px 0 10px 15px;
    height: 10px;
    text-align: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.round {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    float: left;
    margin-right: 8px;
}

.top-image-aviator {
    background-image: url("../img/aviator.jpg");
    width: 240px;
    height: 240px;
}

.aviator-hover, .sunset-hover, .forte-hover, .modern-hover, .avenue-hover, .dovetail-hover {
    display: none;
}

.aviator-hover, .sunset-hover, .forte-hover, .modern-hover, .avenue-hover, .dovetail-hover {
    position: absolute;
    width: 160px;
    height: 135px;
    top: 50px;
    left: 20px;
    padding: 35px 20px 30px 20px;
    background: white;
    text-align: center;
}

.modern h3 {
    line-height: 18px;
}

.aviator p, .sunset p, .forte p, .modern p, .avenue p, .dovetail p {
    font-family: roboto;
    font-size: 14px;
    line-height: 18px;
    color: #283136;
    overflow: hidden;
}

.top-image-sunset {
    background-image: url("../img/sunset.jpg");
    width: 240px;
    height: 240px;
}

.top-image-forte {
    background-image: url("../img/forte.jpg");
    width: 240px;
    height: 240px;
}

.top-image-modern {
    background-image: url("../img/modern-organic-thai.jpg");
    width: 240px;
    height: 240px;
}

.top-image-avenue {
    background-image: url("../img/avenue.jpg");
    width: 240px;
    height: 240px;
}

.top-image-dovetail {
    background-image: url("../img/dovetail.jpg");
    width: 240px;
    height: 240px;
}

.items-catalog-line {
    height: 270px;
    margin-bottom: 80px;
}

.aviator, .forte, .avenue {
    position: relative;
    float: left;
    margin-right: 80px;
}

.sunset, .modern, .dovetail {
    position: relative;
    float: left;
}

.site-verstka, .site-features {
    margin-top: 50px;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
}

.range-filter {
    width: 240px;
}

.range-controls {
    height: 80px;
    position: relative;
    padding: 0px 20px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.scale {
    position: absolute;
    margin-top: 39px;
    width: 200px;
    height: 2px;
    background: #d7dcde;
}

.bar {
    position: absolute;
    height: 2px;
    background: #00ca74;
}

.toggle {
    display: block;
    border: 8px solid #ffffff;
    width: 4px;
    background: #ababab;
    height: 4px;
    border-radius: 8px;
    top: 30px;
    left: 20px;
}

.min-toggle {
    position: absolute;
    left: 20px;
}

.max-toggle {
    position: absolute;
    left: 145px;
}

.price-controls {
    font-family: roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.price-controls input {
    border: none;
    background: #f1f1f1;
    padding: 12px 10px 14px 10px;
    width: 60px;
    height: 12px;
    text-align: center;
    border-radius: 5px;
}

.min-price, .max-price {
    display: inline-block;
}

.min-price {
    margin-right: 31px;
}

.items-sort {
    display: block;
    float: left;
    margin-bottom: 32px;
}

.items-sort ul {
    padding: 0;
}

.items-sort li {
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
    font-family: roboto;
    font-size: 12px;
    line-height: 18px;
    color: black;
}

.items-sort a {
    font-family: roboto;
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
    border-bottom: 1px dotted #00ca74;
}

.items-sort a:hover {
    color: black;
    border-bottom: 1px solid #00ca74;
}

.items-sort a:active {
    color: black;
    border-bottom: transparent;
}

.items-sort-arrows {
    display: block;
    float: right;
}

.down {
    display: block;
    float: left;
    background-image: url("../img/down.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
}

.down:hover {
    background-image: url("../img/down-hover.png");
}

.down:active {
    background-image: url("../img/down-active.png");
}

.down-active {
    background-image: url("../img/down-active.png");
}

.down:visited {
    background-image: url("../img/down-visited.png");
}

.up {
    display: block;
    float: right;
    background-image: url("../img/up.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
}

.up:hover {
    background-image: url("../img/up-hover.png");
}

.up:active {
    background-image: url("../img/up-active.png");
}

.up:visited {
    background-image: url("../img/up-visited.png");
}

.range-filter h3, .site-verstka h3, .site-features h3 {
    margin-bottom: 20px;
}

.site-verstka label, .site-features label {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #283136;
    padding-left: 35px;
}

.site-verstka input[type="radio"], .site-features input[type="checkbox"] {
    display: none;
}

.site-verstka input[type="radio"]+label, .site-features input[type="checkbox"]+label {
    display: block;
    position: relative;
    cursor: pointer;
}

.site-verstka input[type="radio"]+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 3px;
    position: absolute;
    background-image: url("../img/radio.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.site-verstka input[type="radio"]+label:hover::before {
    content: "";
    display: block;
    left: 0px;
    top: 3px;
    position: absolute;
    background-image: url("../img/radio-hover.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.site-verstka input[type="radio"]:checked+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 3px;
    position: absolute;
    background-image: url("../img/radio-active.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.site-verstka input[type="radio"]:disabled+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 3px;
    position: absolute;
    background-image: url("../img/radio-block.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.site-features input[type="checkbox"]+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 4px;
    position: absolute;
    background-image: url("../img/checkbox.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}

.site-features input[type="checkbox"]+label:hover::before {
    content: "";
    display: block;
    left: 0px;
    top: 4px;
    position: absolute;
    background-image: url("../img/checkbox-hover.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}

.site-features input[type="checkbox"]:checked+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 4px;
    position: absolute;
    background-image: url("../img/checkbox-active.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
}

.site-features input[type="checkbox"]:disabled+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 4px;
    position: absolute;
    background-image: url("../img/checkbox-block.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}

.site-form button {
    padding: 12px 0;
    width: 150px;
    font-family: roboto;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background: #f1f1f1;
    color: #000;
    margin-top: 55px;
}

.paginator {
    padding-bottom: 80px;
}

.paginator ul {
    padding: 0;
    margin: 0;
}

.paginator li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    min-width: 27px;
    text-align: center;
    border: 3px solid #f1f1f1;
    background: #f1f1f1;
    margin-right: 10px;
    text-transform: uppercase;
    border-radius: 5px
}

.paginator li:hover {
    border: 3px solid #e5e5e5;
    background: #e5e5e5;
}

.paginator li:active {
    background: #e5e5e5;
    border: 3px solid #e5e5e5;
    border-top: 3px solid #b5b5b5;
}

.paginator li:first-child {
    background: white;
    border: 3px solid #b5b5b5;
}

.paginator li:last-child {
    width: 140px;
}
