.page-header {
    height: 410px;
    background: #eeeeee;
    padding: 25px 0 0 0;
}

.header-inside {
    height: 300px;
    background: #eeeeee;
    padding: 25px 0 0 0;
}

.page-header__menu {
    padding-bottom: 110px
}

.menu-inside {
    padding-bottom: 120px
}

.logo {
    display: block;
    float: left;
    background-image: url("../img/logo-nerds.png");
    background-repeat: no-repeat;
    width: 139px;
    height: 56px;
}

nav {
    display: block;
    float: right;
    margin-top: 28px;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
}

nav a {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: #000;
}

nav a:hover {
    color: #fb565a
}

nav a:active {
    color: #a7a9ac
}

nav li:last-child {
    padding-left: 50px;
    margin-right: 0;
}

.busket::before {
    content: "";
    display: block;
    top: 5px;
    left: 25px;
    position: absolute;
    background-image: url("../img/busket.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.busket:hover::before {
    content: "";
    display: block;
    top: 5px;
    left: 25px;
    position: absolute;
    background-image: url("../img/busket-hover.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.busket:active::before {
    content: "";
    display: block;
    top: 5px;
    left: 25px;
    position: absolute;
    background-image: url("../img/busket-active.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.active-open {
    color: black;
    border-bottom: #fb565a solid 2px;
}

.btn {
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: #fb565a;
    padding: 10px 39px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background: #d6494d;
}

.btn:active {
    background: #b63538;
}

.btn-slider {
    padding: 10px 70px;
    margin-top: 13px;
}

.page-header__slider h2 {
    margin-top: 20px;
}

.slider-text {
    display: block;
    float: left;
    margin-right: 122px;
}

.slider-image {
    display: block;
    float: right;
    background-image: url("../img/slider-nerds.png");
    background-repeat: no-repeat;
    width: 338px;
    height: 231px;
    text-align: right;
}
