.partners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 45px;
    margin-bottom: 80px;
    text-align: center;
    vertical-align: top;
    border-bottom: 2px solid #eee;
}

.glukhanko {
    display: block;
    background-image: url("../img/logo-glukhanko.png");
    background-repeat: no-repeat;
    width: 198px;
    height: 37px;
}

.glukhanko:active,
.glukhanko:hover {
    display: block;
    background-image: url("../img/logo-glukhanko-active.png");
    background-repeat: no-repeat;
    width: 198px;
    height: 37px;
}

.htmlacademy {
    display: block;
    background-image: url("../img/logo-htmlacademy.png");
    background-repeat: no-repeat;
    width: 199px;
    height: 68px;
}

.htmlacademy:active,
.htmlacademy:hover {
    background-image: url("../img/logo-htmlacademy-active.png");
}

.barbershop {
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/logo-barbershop.png");
    background-repeat: no-repeat;
    width: 209px;
    height: 86px;
}

.barbershop:active,
.barbershop:hover {
    background-image: url("../img/logo-barbershop-active.png");
}

.glukhanko,
.htmlacademy {
    margin-right: 120px;
}
