.service {
    min-height: 325px;
    padding: 75px 0;
    border-bottom: 2px solid #eee;
}

.service p {
    font-size: 15px;
    font-weight: bold;
    line-height: 22px;
}

.service-sites .btn {
    background: #fb565a;
    margin-top: 8px;
    padding: 10px 37px;
}

.service-sites .btn:hover {
    background: #d6494d;
}

.service-sites .btn:active {
    background: #b63538;
}

.service-apps .btn {
    background: #00ca74;
    margin-top: 8px;
    padding: 10px 37px;
}

.service-apps .btn:hover {
    background: #01a25e;
}

.service-apps .btn:active {
    background: #009053;
}

.service-presentation .btn {
    background: #efc84a;
    margin-top: 8px;
    padding: 10px 37px;
}

.service-presentation .btn:hover {
    background: #d6ae2c;
}

.service-presentation .btn:active {
    background: #c09b24;
}

.service-sites, .service-apps, .service-presentation {
    min-width: 240px;
    display: block;
    float: left;
    margin-right: 80px;
    font-size: 0;
}

.service-sites, .service-apps, .service-presentation p {
    font-size: 15px;
}

.service-presentation {
    margin-right: 0;
}

.service-sites-img {
    background-image: url("../img/web-sites.jpg");
    background-repeat: no-repeat;
    width: 240px;
    height: 124px;
    margin-bottom: 24px;
}

.service-apps-img {
    background-image: url("../img/applications.jpg");
    background-repeat: no-repeat;
    width: 240px;
    height: 124px;
    margin-bottom: 24px;
}

.service-presentation-img {
    background-image: url("../img/presentations.jpg");
    background-repeat: no-repeat;
    width: 240px;
    height: 124px;
    margin-bottom: 24px;
}
